:root {
    --primary-color: olivedrab;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
  }

/*Reset*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*Utilities*/
.container {
margin: auto;
max-width: 1100px;
overflow: auto;
padding: 10px;
opacity: 0.9;
}

.text-primary{
color: olivedrab;
}

.lead {
font-size: 20px;
}

.btn {
display: inline-block;
font-size: 18px;
color: #ffffff;
background: olivedrab;
padding: 13px 20px;
border: none;
cursor: pointer;
}
.btn-light {
background: olivedrab;
color: #ffffff;
}
.btn:hover {
background:#333333;
color: #ffffff;
}

.bg-dark {
background: #333333;
color: #ffffff;
}
.bg-primary {
background: olivedrab;
color: white;
}

.bg-light {
background:#e9e8e8;
color: #333333;
}

.clr {
clear: both;
}

.l-heading{
font-size: 40px;
}

/*Main Styling*/

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.7em; 
}

a {
text-decoration: none;
color: #333333;
}

h1, h2, h3 {
padding-bottom: 20px;
}

p {
margin: 10px 0;
}



/*Padding*/
.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}

/*Navbar*/
#main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  #main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
  }
  
  
  #main-nav ul {
    justify-self: end;
    display: flex;
  }

  #main-nav ul li {
      list-style: none;
  }
  
  #main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
  }
  
  #main-nav ul li a.current {
    background: var(--primary-color);
    color: #fff;
  }
  
  #main-nav ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
  }
  
  #main-nav .social {
    justify-self: center;
  }
  
  #main-nav .social i {
    color: var(--primary-color);
    margin-right: .5rem;}

/*showcase*/

#showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;
  }
  
  #showcase:before {
    content: '';
    background: url('/img/showcase.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  
  #showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  #showcase .showcase-content {
    z-index: 1;
  }
  
  #showcase .showcase-content p {
    margin-bottom: 1rem;
  }
/*Home info*/
#home-info {
height: 400px;
}
#home-info .info-img {
float: left;
width: 50%;
background: url(/img/Untitled\ design\ \(13\).png) no-repeat;
min-height: 100%;
}

#home-info .info-content {
float: right;
width: 50%;
text-align: center;
height: 100%;
padding: 50px 30px;
overflow: hidden;
}

#home-info .info-content p{
padding-bottom: 30px;
}

#hname {
color: #ffffff;
}

#menulink {
color: olivedrab;
}

/*Features*/

.box {
float: left;
width: 33.3%;
padding: 50px;
text-align: center;
}

.box i{
margin-bottom: 10px;
}

.fa-utensils{
color: olivedrab;
}

.fa-hotel {
color: olivedrab;
}


/*About*/
#about-info .info-right{
float: right;
width: 50%;
min-height: 100%;
}

#about-info .info-right img {
width: 70%;
display: block;
margin: auto;
border-radius: 50%;
}


#about-info .info-left {
float: left;
width: 50%;
min-height: 100%;
}

/*Testimonials*/
#testimonials {
height: 600px;
background:url('/img/showcase.jpg') no-repeat 
center center/cover;
padding-top: 100px;
}
#testimonials .testimonial{
margin-bottom: 20px;
padding: 20px;
border-radius: 5px;

}

#testimonials h2 {
color: #ffffff;
text-align: center;
padding-bottom: 40px;
}

#testimonials .testimonial img {
width:75px ;
float: left;
margin-right: 20px;
border-radius: 50%;
}
/*Contact Form*/

#contact-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
#contact-form .form-group {
margin-bottom: 20px;
}

#contact-form label {
display: block;
margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
width: 100%;
padding: 10px;
border: 1px olivedrab solid;
}

#contact-form textarea{
height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus{
outline: none;
border-color: olivedrab;
}

.fa-clock{
color: olivedrab;   
}


/*Social Media*/

#lab_social_icon_footer a {
color: olivedrab;
}


/* Main Footer*/
#main-footer {
text-align: center;
background:#333333;
color: white;
padding: 20px;
}
